# This is a basic workflow to help you get started with Actions

name: Osssie-GHA-Test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ test-env ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Run Ossie-GHA
        uses: ossillate-inc/Ossie-GHA@70043ef197cc24cd95fbd375d2abecc8665d35b8
        with:
            OSSIEBOT_ID: 'qDJBjNsPXljS5MlN2SCCssJgvxVZL4VKmf8ZTir7'
            REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
